@model EventViewModel
@{
    ViewData["Title"] = "Мероприятия";
}

<div class="event-view">
    <hr />
    <a asp-controller="Events" asp-action="EventDetails" asp-route-eventId="@Model.Id">@Model.Name</a>
    <a asp-controller="Events" asp-action="DeleteEvent" asp-route-eventId="@Model.Id">Удалить</a>
    <a asp-controller="Events" asp-action="UpdateEvent" asp-route-eventId="@Model.Id">Редактировать</a>
    <br />

    <h5>Организатор: @Model.Organizer</h5>
    <h5>Место проведения: @Model.Location</h5>
</div>
